requests
jsonschema
pyyaml
pandas
numpy<2
python-dotenv
textblob
transformers
pyarrow
tqdm
germansentiment
# text analysis
lxml
beautifulsoup4
seaborn
# exporting ipynb
notebook
jupyter-client<8
pyzmq
nltk
spacy
# gensim issues because it is not yet upgraded to np=<2
thinc<9
blis<=1.0.0
gensim

torch
sentence-transformers
deep_translator

regex
top2vec[sentence_transformers]
hyperopt