requests
jsonschema
bottleneck==1.3.6
pyyaml
pandas
numpy
python-dotenv
textblob
transformers
pyarrow
tensorflow
tf-keras
tqdm
germansentiment
tiktoken
# text analysis
lxml
beautifulsoup4
seaborn
# exporting ipynb
notebook
jupyter-client<8
pyzmq
nltk
spacy
gensim
